@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #FFF;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.gradient{
  background: linear-gradient(90deg, #161616, #292929);

}
li{
  list-style: none;
}